/* Don't change the existing CSS. */

.box {
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: 10px solid purple;
  background-color: blue;
}
.inner-box{
  background-color: red;
}
.white-text{
  color: white;
}
  